<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warmland | Maintenance</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'maintenance/style.css' %}">
</head>
<body>
    <div class="maintenance">
        <p class="maintenance__msg">Site under construction. We return shortly.</p>
        <img src="{% static 'maintenance/images/homer-bush.gif' %}" class="maintenance__img">
    </div>
</body>
</html>