// main: ../style.less

@color-hot: rgba(240, 52, 52, 1);

@news-border-width: 1px;
@news-border: @news-border-width solid rgba(250, 190, 88, 0.5);

@article-basis-width: 225px;
@article-basis-height: 150px;


// General //
h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.2rem;
}

h3, h4 {
	color: orange;
}

.news__inner {
	display: flex;
	flex-direction: column;

	& a {
		display: inline-block;
	}

	& a:hover {
		background-color: rgba(255,255,255,0.3);
	}
}

.news__title {
	text-align: center;
	text-transform: uppercase;

	padding-bottom: 30px;
	border-bottom: 2px solid orange;

	margin: 50px 0 50px 0;
}

.news__block {
	display: flex;
	flex-direction: row;
	border: @news-border;
	width: 100%;
}

.col1 {
	display: flex;
	flex-direction: column;
	width: 250px - @news-border-width;
	padding: 10px;
	border-right: @news-border;
}

.col2 {
	display: flex;
	flex-direction: column;
	width: 500px - @news-border-width;
	border-right: @news-border;
}

.col3 {
	display: flex;
	width: 450px;
}

.datetime {
	color: @color-hot;
	font-size: 1.15rem;
}
//--//


// Headlines //
//-- Column 1
.hl-col1__title {
	margin-bottom: 15px;
}

//-- Column 2
.hl-col2__top {
	display: flex;
	flex-direction: row;

	padding: 10px;
	height: @article-basis-height * 2;
}

.hl-col2__bot {
	padding: 10px;
}

.hl-col2__title {
	width: 140px;
}

.hl-col2__img {
	width: 340px;
}

.hl-col2__description {
	font-size: 1.15rem;
}

//-- Column 3
.hl-col3 {
	flex-direction: row;
}

.hl-col3__left,
.hl-col3__right {
	display: flex;
	flex-direction: column;

	width: 225px;
}

.hl-col3__left {
	border-right: @news-border;
}

.hl-col3__article {
	border-bottom: @news-border;

	&:last-child {
		border-bottom: none;
	}
}
//--//

// Spotlight //
// -- Column 2
.sl-col2__top {
	display: flex;
	flex-direction: row;

	padding: 10px;
	text-align: center;
	height: 350px;
}

.sl-col2__img {
	width: 480px;
}

.sl-col2__article {
	border-top: @news-border;
}

//-- Column 3
.sl-col3 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	height: 650px;
}

.sl-col3 .sl-col3__article:first-child {
	border-right: @news-border;
}
//--//

// Opinion //
//-- Column 2
.opinion__col2 {
	width: 500px + @article-basis-width;
}

.col2 .op-col2__top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 500px + @article-basis-width;
	height: @article-basis-height * 2;
	padding: 10px;

	border-bottom: @news-border;
}

.op-col2__top-left {
	display: inline-block;
	max-width: 300px;

	margin-right: 25px;
}

.op-col2__top-right {
	display: inline-block;
	max-width: 425px;
}

.op-col2__quote,
.op-col2__author {
	display: inline-block;
	max-width: 300px;
	margin: 0;
}

.op-col2__quote {
	margin-bottom: 15px;
}

.op-col2__author {
	float: right;

	font-style: italic;
}

.op-col2__quote {
	&:before {
		content: "";
		display: inline-block;
		width: 32px;
		height: 32px;
		background-image: url(../images/icons/quote-main.png);
		margin-right: 10px;
	}
}

.op-col2__img {
	width: 400px;
	height: @article-basis-height * 2 - 20;
}

.op-col2-bot {
	display: flex;
	flex-direction: row;
}

.op-col2-bot__left {
	width: 475px;
	border-right: @news-border;

	& .article {
		width: 475px;
		border-bottom: @news-border;
	}

	& .article:last-child {
		border-bottom: none;
	}
}

.op-col2-bot__right {
	width: @article-basis-width + 25;

	& .article_type_vertical-quote {
		width: @article-basis-width + 25;
	}
}

//-- Column 3
.opinion__col3 {
	display: flex;
	flex-direction: column;
	width: @article-basis-width;

	& .op-col3__article {
		height: auto;
		border-bottom: @news-border;
	}

	& .op-col3__article:last-child {
		border-bottom: none;
	}
}
//--//

// Article //
.article {
	width: @article-basis-width;
	padding: 10px;
}

.article__img {
	width: 205px;
	margin-bottom: 10px;
}

.article__title {
	margin-bottom: 10px;
}

.article_type_vertical-img {
	height: @article-basis-height * 2;
}

.article_type_vertical-noimg {
	height: @article-basis-height;
}

.article_type_horizontal-img {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	width: 500px;
	height: @article-basis-height;
}

.article_type_vertical-long-img {
	height: 100%;
}

.article_type_vertical-quote {
	height: 100%;
	position: relative;

	& .article__quote {
		margin-bottom: 160px;
	}

	& .article__author {
		display: inline-block;
		font-size: 1.15rem;
		text-align: center;
		width: 100px;
	}

	& .article__img {
		position: absolute;
		bottom: 15px;
		right: 10px;

		border-radius: 50%;
		width: 125px;
		height: 125px;
	}
}

.article__hor-left {
	display: inline-block;
	margin-right: 15px;
}

.article__hor-right {
	display: inline-block;

	position: absolute;
	top: 10px;

	max-width: 220px;

	& h4 {
		display: inline-block;
	}

	& p {
		display: inline-block;
	}
}

.article__author {
	font-style: italic;
}

.quote-img {
	&:before {
		content: "";
		display: inline-block;
		width: 32px;
		height: 32px;
		background-image: url(../images/icons/quote.png);
		margin-right: 10px;
	}
}
//--//