{% extends "warmland/base.html" %}
{% load static %}
{% block page_id %}blog{% endblock %}


{% block content %}
<div class="news">
	<div class="news__inner container1200">
		<div class="news__leftcol">
			<div class="news__post post">
				<div class="post__author author">
					<img src="{% static 'warmland/images/news/homer.png' %}" class="author__avatar">
					<span class="author__name">Homer</span>
					<span class="author__publish-date">1 March 2021</span>
				</div>
				<p class="post__title">Скалолаз Дима упал с горы при поиске руды.</p>
				<ul class="post__tags-list">
					<li class="post__tag">#горы</li>
					<li class="post__tag">#шахтёрство</li>
					<li class="post__tag">#туризм</li>
				</ul>
				<img src="{% static 'warmland/images/news/nice-villager.jpg' %}" class="post__img">
				<p class="post__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eum aspernatur eligendi, voluptatem debitis assumenda, placeat facilis nam reprehenderit repellat alias autem quas, voluptatum et esse recusandae sapiente, minima perferendis.</p>
				<a href="#" class="post__readwhole">Читать полностью...</a>
				<div class="post__activity activity">
					<span class="activity__item" id="like">
						<button class="activity__button"><img src="{% static 'warmland/images/icons/post/like.png' %}" class="activity__button-img"></button>
						<span class="activity__counter">0</span>
					</span>
					<span class="activity__item" id="views">
						<button class="activity__button"><img src="{% static 'warmland/images/icons/post/eye.png' %}" class="activity__button-img"></button>
						<span class="activity__counter">0</span>
					</span>
					<span class="activity__item" id="comments">
						<button class="activity__button"><img src="{% static 'warmland/images/icons/post/comment.png' %}" class="activity__button-img"></button>
						<span class="activity__counter">0</span>
					</span>
				</div>
			</div>
		</div>

		<div class="news__rightcol">
			<div class="news__advertisment"></div>
			<div class="news__quotes"></div>
		</div>
	</div> <!-- ./news__inner -->
</div> <!-- ./news -->
{% endblock %}

<!-- JS -->
{% block script %}
<script src="{% static 'warmland/js/datetime. js' %}"></script>
{% endblock %}
