{% extends "warmland/base.html" %}
{% load static %}
{% block page_id %}home{% endblock %}


{% block content %}
<div class="slider">
	<div class="slider-container container1600">
		<div class="slide slide_fade">
			<img src="{% static 'warmland/images/actual-village-vfx.jpg' %}">
			<div class="slide__text"></div>
		</div>

		<div class="slide slide_fade">
			<img src="{% static 'warmland/images/actual-animals-vfx.jpg' %}">
			<div class="slide__text"></div>
		</div>

		<div class="slide slide_fade">
			<img src="{% static 'warmland/images/actual-vfx-tree.jpg' %}">
			<div class="slide__text"></div>
		</div>

		<a class="slider__prev" onclick="plusSlide(-1)">&#10094</a>
		<a class="slider__next" onclick="plusSlide(1)">&#10095</a>
		<br>
		<div class="dot-container">
			<span class="slider__dot" onclick="currentSlide(1)"></span>
			<span class="slider__dot" onclick="currentSlide(2)"></span>
			<span class="slider__dot" onclick="currentSlide(3)"></span>
		</div>
	</div>
</div>


<div class="event container800">
	<p class="event-content">
		Деревенские новости <br>
		<a href="{% url 'warmland:blog' %}">Узнать больше >>></a>
	</p> 
</div>


<div class="good hot-offers container1000">
	<h3 class="hot-offers__title">СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</h3>
	<div class="good__inner" id="good-list">
		<!-- generate hot offers here -->
	</div> <!-- ./good__inner -->
</div> <!-- ./good -->
	

<div class="photos">
	<div class="photos__inner container1600">
		<div class="photos__item">
			<img src="https://placehold.it/400x225" alt="" class="photos__photo" alt="">
		</div>
		<div class="photos__item">
			<img src="https://placehold.it/400x225" alt="" class="photos__photo" alt="">
		</div>
		<div class="photos__item">
			<img src="https://placehold.it/400x225" alt="" class="photos__photo" alt="">
		</div>
		<div class="photos__item">
			<img src="https://placehold.it/400x225" alt="" class="photos__photo" alt="">
		</div>
	</div>
</div>
{% endblock %}

<!-- JS -->
{% block script %}
<script src="{% static 'warmland/js/slider.js' %}"></script>
<script src="{% static 'warmland/js/goodHandler.js' %}"></script>
{% endblock %}