<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'warmland/css/style.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
	<title>Warmland</title>
</head>
<body id="home">
	<main>
		<div class="slider">
			<div class="slider-container container1600">
				<div class="slide slide_fade">
					<img src="{% static 'warmland/images/actual-village-vfx.jpg' %}">
					<div class="slide__text"></div>
				</div>

				<div class="slide slide_fade">
					<img src="{% static 'warmland/images/actual-animals-vfx.jpg' %}">
					<div class="slide__text"></div>
				</div>

				<div class="slide slide_fade">
					<img src="{% static 'warmland/images/actual-vfx-tree.jpg' %}">
					<div class="slide__text"></div>
				</div>

				<a class="slider__prev" onclick="plusSlide(-1)">&#10094</a>
				<a class="slider__next" onclick="plusSlide(1)">&#10095</a>
				<br>
				<div class="dot-container">
					<span class="slider__dot" onclick="currentSlide(1)"></span>
					<span class="slider__dot" onclick="currentSlide(2)"></span>
					<span class="slider__dot" onclick="currentSlide(3)"></span>
				</div>
			</div>
		</div>


		<div class="event container800">
			<p class="event-content">
				Деревенские новости <br>
				<a href="{% url 'warmland:blog' %}">Узнать больше >>></a>
			</p> 
		</div>


		<div class="good hot-offers container1000">
			<h3 class="hot-offers__title">СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</h3>
			<div class="good__inner" id="good-list">
				<!-- generate hot offers here -->
			</div> <!-- ./good__inner -->
		</div> <!-- ./good -->
			

		<div class="photos">
			<div class="photos__inner container1600">
				<div class="photos__item">
					<img src="https://placehold.it/400x225" alt="" class="photos__photo" alt="">
				</div>
				<div class="photos__item">
					<img src="https://placehold.it/400x225" alt="" class="photos__photo" alt="">
				</div>
				<div class="photos__item">
					<img src="https://placehold.it/400x225" alt="" class="photos__photo" alt="">
				</div>
				<div class="photos__item">
					<img src="https://placehold.it/400x225" alt="" class="photos__photo" alt="">
				</div>
			</div>
		</div>
	</main>


	<!-- JS -->
	<script src="{% static 'warmland/js/patternGenerator.js' %}"></script>
	<script src="{% static 'warmland/js/goodGenerator.js' %}"></script>
	<script src="{% static 'warmland/js/slider.js' %}"></script>
	<script src="{% static 'warmland/js/clipPopup.js' %}"></script>
	<script src="{% static 'warmland/js/popupNav.js' %}"></script>
	<script src="{% static 'warmland/js/goodHandler.js' %}"></script>
</body>
</html>